h1
{
    text-align: left;
    background-color: rgb(119, 1, 129);
    color: white;
    height: 60px;
    margin: 0px;
    font-size: 50px;
    padding-left: 10px;
}
h3
{
    text-align: left;
    background-color: rgb(159, 1, 173);
    height: 35px;
    margin: 0px;
    padding-left: 10px;
    font-size: 25px;
    
}
h4 {
  text-align: left;
    background-color: rgb(159, 1, 173);
    height: 35px;
    margin: 0px;
    padding-left: 10px;
    font-size: 25px;
    Border-radius: 10px;
    text-align: center;
    color: white;
}
#btnCarte:hover,
#btnAutre:hover {
    transform: scale(1.1); /* grossit de 10% au survol */
    transition: transform 0.2s; /* animation douce */
}
.header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(119, 1, 129);
    height: 60px;
    padding-left: 10px;
    width: 99.25%;
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 40px;
    margin-top: 0px;
}

.header p {
    margin: 0;
    color: white;
    font-size: 18px;
    padding-left: 30px;
}
#map {
    height: 420px;
    width: 100%;
    margin-top: 5px;
    border: 2px solid rgb(247, 0, 255); /* contour autour de la carte */
    border-radius: 5px;
}
.mood-marker {
  width: 23px;
  height: 23px;
  background: currentColor;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  position: relative;
  border: 2px solid white;
}

/* petit rond blanc au centre */
.mood-marker::after {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 8px;
}
#searchBar {
        margin: 15px;
        display: flex;
        gap: 10px;
      }
#searchInput {
        flex: 1;
        padding: 8px;
        font-size: 16px;
      }
#searchBtn {
        padding: 8px 15px;
        background: #3498db;
        color: white;
        border: none;
        cursor: pointer;
      }
#map {
        height: 415px;
        width: 100%;
        margin-top: 5px;
      }
.popup-content input {
        width: 100%;
        margin-bottom: 6px;
      }
.smileys span {
        font-size: 22px;
        cursor: pointer;
        margin-right: 5px;
      }
.smileys span.selected {
        border: 2px solid #3498db;
        border-radius: 50%;
        padding: 2px;
      }
.btn-publish {
        background: #ba34db;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 10px;
      }
.btn-publish:disabled {
        background: gray;
        cursor: not-allowed;
      }
.btn-delete {
        background: #e73c59;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 10px;
      }

      /* Style boutons Carte / Autre */
#btnCarte, #btnAutre {
        padding: 8px 15px;
        margin-right: 10px;
        cursor: pointer;
        border: none;
        color: white;
        background-color: #99019e;
      }
.leaflet-popup-content {
  width: 380px; /* un peu moins que maxWidth pour le padding */
  box-sizing: border-box;
}
#autrePanel {
  display: none;
  position: absolute; /* ou fixed si tu veux */
  top: 400;
  right: 0;
  width: 1341px;
  height: 78%;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
  margin-top: 110px;
  margin-right: 8px;
  border-radius: 10px;
  border: 2px solid rgb(247, 0, 255);
}
#authBox {
  width: 400px;
  margin: 10px;
  padding: 75px;
  border-radius: 10px;
  background: #00b8d8;
  color: white;
  position: relative;
  top: 500px;
  position: fixed;
  top: 170px;
  left: 400px;
  z-index: 9999;
  display: none;
  height: 230px;
}

#authBox input {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

#authBox button {
  width: 50%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background:#9d11ee;
  color: white;
}
#btnregister2 
{
  background-color: rgb(255, 0, 191);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 17px;
}
#panelAfterLogin
{
  display:none; 
  position:fixed; 
  top:160px; 
  left:20px; 
  width:650px; 
  height:400px; 
  background:#92cbd348; 
  border-radius:10px; 
  padding:10px; 
  z-index:9998;
}
#logoutBtn
{
  position:fixed;
  top: 170px;
  left: 1220px;
  z-index:9999;
  background-color: #e73c59;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#authRegister {
  display: none;
}
#authRegister {
  display: none;
  width: 400px;
  margin: 10px;
  padding: 75px;
  border-radius: 10px;
  background: #00b8d8;
  color: white;
  position: relative;
  top: 500px;
  position: fixed;
  top: 170px;
  left: 400px;
  z-index: 9999;
  height: 230px;
}

#authRegister input {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}
#authRegister button {
  width: 50%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background:#9d11ee;
  color: white;
}
#authBox h2,
#authRegister h2 {
  margin-top: -30px;
  margin-bottom: 15px;
}
#btn-notaf
{
  cursor: pointer;
  border-radius: 10px;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-actions button {
  flex: 1;
  padding: 6px;
  cursor: pointer;
}
#userBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 40px;
}

#userNameDisplay {
  font-size: 18px;
  font-weight: bold;
  background: white;
}

#settingsBtn {
  background: rgba(68, 68, 68, 0.274);
  border: none;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.2s; /* animation pour le hover */
  position: absolute;
  right: 17px;
}

#settingsBtn:hover {
  transform: scale(1.1); /* grossit de 10% au survol */
}

#settingsMenu {
  display: none;
  position: absolute;
  top: -100px;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 150px;
  z-index: 10000;
}

#settingsMenu button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

#settingsMenu button:hover {
  background: #f0f0f0;
}

#settingsMenu .danger {
  color: #e73c59;
  font-weight: bold;
}
#avatarCircle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

#avatarCircle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

#avatarPlus {
  font-size: 40px;
  color: #777;
}
.profile-moods {
  margin-top: 15px;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 12px;
}

.mood-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 15px;
}
h6 {
  text-align: left;
    background-color: rgb(195, 91, 209);
    height: 35px;
    margin: 0px;
    padding-left: 10px;
    font-size: 25px;
    Border-radius: 10px;
    text-align: center;
    color: white;
}
#myMoodsList {
  margin-top: 20px;
  max-height: 400px;   /* hauteur fixe */
  overflow-y: auto;    /* scroll vertical */
  position: fixed;
  right: 70px;
}
#myMoodsList div {
  background-color: #4ea3b365;
  margin-bottom: 20px;
  padding: 8px 12px;  
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  display: block;   /* ou block selon le cas */
    width: 500px;            /* largeur fixe */
    height: 160px;
    box-sizing: border-box;  /* inclut padding dans largeur/hauteur */
    overflow: hidden;        /* coupe le texte qui dépasse */
    font-size: 16px;
    
  white-space: normal;      /* permet le retour à la ligne */
  word-wrap: break-word;    /* coupe les mots trop longs */
  position: relative;       /* pour placer le bouton plus */
}
#notification {
position: fixed;
    top: 350px;
    right: 530px;
    background: #e73c59;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    z-index: 1000;
    font-family: sans-serif;
}
